# Misc
.DS_Store
.vscode/*
chromedriver
scraped_restaurants/
node_modules/
secrets.js
gif/
*.png
package-lock.json
package.json
bundle.js

# Python
*.pyc
__pycache__/
env/
venv/
bin/

# Packages
*.zip